/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

.home .link-footer
  margin: auto
  text-align: center

.theorem
  margin 1rem 0
  padding .1rem 1.5rem
  border-radius 0.4rem
  background-color #f0f4f8
  .title
    font-weight bold

.custom-block
  &.right
    color transparentify($textColor, 0.4)
    font-size 0.9rem
    text-align right

div.author
  display: flex
  align-items: center

img.avatar
  vertical-align: middle
  width: 50px
  height: 50px
  border-radius: 50%
  margin-right: 2em
  margin-bottom: 1em

img.contrib-avatar
  @extend img.avatar;
  margin: 0.5em;
  height: 4em;
  width: 4em;
  border-radius: 0;

p.contributor
  color: #4e6e8e
  text-align: center


html.dark-mode .theorem
  background-color: $theoremColor

html.sepia-mode .theorem
  background-color: $sepiaTheorem
  
html.light-mode .action
  color #fff