/* :root {
  --vp-c-brand: #0284C7;
  --vp-c-brand-light: #7095fd;
  --vp-c-brand-lighter: #7095fd;
  --vp-c-brand-dark: #4979ff;
  --vp-c-brand-darker: #7095fd;
  $accentColor = #4979ff
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34

} */

/* .vitepress/theme/custom.css */
:root {
  --vp-c-brand-1: #0284C7;
  --vp-c-brand-2: #0284C7;
  --vp-c-brand-3: #0E7490;
}